/* réinitialisations de base, ne pas toucher */
* {
    margin: center;
    padding: center;

}

div {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: block;
    page-break-inside:avoid;
}

/* liens vers la typo */
@font-face {
    font-family: 'Bangers';
    src: url('fonts/Bangers/Bangers-Regular.ttf') format('woff2'),
         url('fonts/Permanent_Marker/PermanentMarker-Regular.ttf') format('woff');
    font-weight: normal;
}

body {
	background-color: white;
}


.titre, a {
    font-family: 'Permanent Marker';
    font-size: 60px;
	color: pink;
    padding: 900px;
	text-decoration: none;
}

.titre {
    margin-top: 100px;
}

.traits-coupe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}
.canvas {
    border: 2px solid blue;
    position: absolute;
    width: 630px;/*430px;*/
    height: 795px;/*595px;*/
    margin-top: 40vh;
    top: -200px;
    left: 50px;
}
.zone-travail {
    border: 2px solid yellow;
    position: absolute;
    top: -100px;
    left: 0px;
    width: 1800px;
    height: 900px;
}
.outils {
	position: absolute;
    top: 0px;
    right: 0px;
	width: 700px;
}





/* RESPONSIVE */

/* ÉCRAN SEULEMENT */
@media screen {
    .print-only {
        display: none;
    }
}

/* ÉCRAN (VALEURS MINIMUM) */
/*@media screen and (min-width: 480px) {

}*/
/* ÉCRAN (VALEURS MAXIMUM) */
/*@media screen and (max-width: 480px) {
    .titre {
        color: red;
    }
}*/
    }
}

/* IMPRESSION */

@media print {
    .screen-only {
        display: none;
    }
    a {
        color: black;
    }
	.canvas {
        overflow: hidden;
    }
	.titre {
		display: none;
	}
}

@page {
    size: 210mm 297mm;
    margin: none;
}
